# k8s-cluster.yml.j2
---
kube_version: "{{ kube_version }}"
kube_network_plugin: "{{ kube_network_plugin }}"
cluster_name: "{{ cluster_name }}.local"

container_manager: containerd

kube_vip_enabled: false
kube_vip_controlplane_enabled: false

loadbalancer_apiserver:
  address: "{{ (node_info | selectattr('role', 'equalto', 'master') | list | first).internal_ip }}"
  port: 6443

# Force Kubespray to use correct sandbox image
containerd_default_runtime_name: runc
containerd_sandbox_image: "registry.k8s.io/pause:3.10"
containerd_config_default_write: true

supplementary_addresses_in_ssl_keys:
  - "127.0.0.1"
  - "localhost"
{% for node in node_info %}
  - "{{ node.internal_ip }}"
  - "{{ node.external_ip }}"
  - "{{ node.name }}"
{% endfor %}

{% if kube_network_plugin == 'calico' %}
calico_ip_auto_method: "interface=ens4"
calico_ipv4_pool_ipip: Always
calico_mtu: 1440
{% endif %}